.SignUpForm {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.SignUpForm input {
    width: 100%;
    margin-bottom: 1rem;
}

.SignUpForm label {
    margin-bottom: 0.5rem;
    text-align: left;
}